/* Put your CSS here */
.ember-application {
  margin: 20px;
  background: url("../images/christmas-table-cloth.jpg")no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: 'Karla', sans-serif;
  color: #930C0A;
  text-align: center;
  margin-left: 0;
}

h3 {
  font-family: 'Karla', sans-serif;
  color: #930C0A;
  text-align: right;
  font-size: 1.25em;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.title {
  background-color: #FFFAE8;
  margin: 0 auto 0 auto;
  width: 30%;
  border-radius: 6px;
  border: solid 2px #000;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}

.description, .category {
  text-align: center;
}

p {
  margin-left: 20px;
}

li {
  margin-left: 20px;
  margin-right: 0;
  font-size: 1.25em;
}

.nav {
  display: inline-block;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 1.25em;

}

a {
  color: #FFFAE8;
}

a:hover {
  text-decoration: none;
  color: #FFFAE8;;
}

.recipe-name {
  margin-left: -50px;
  margin-top: 20px;
}

article {
  margin: 0 auto 0 auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 350px;
  height: auto;
  padding: 10px;
}

.btn-primary {
  background-color: #177446;
  border: #177446;
  color: #fff;
  font-size: 1.25em;
}

.btn-primary:hover {
  background-color: #13643B;
  border: #13643B;
  color: #fff;
  font-size: 1.25em;
}

.btn-danger {
  background-color: #930C0A;
  border: #930C0A;
  font-size: 1.25em;
}

.btn-danger:hover {
  background-color: #6E0012;
  border: #930C0A;
  font-size: 1.25em;
}

.form-group {
  margin-left: 50px;
  margin-top: 50px;
  width: 80%;
}

.add-form {
  font-weight: bold;
  margin-top: 5px;
}

.recipe-name article header h2 {
  cursor: pointer;
}
